.App {
  text-align: center;
}

table {
  width:100%;
  background: #f6f6f6;
  font-size: 14px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px hsla(0,0%,0%,.05),
                      0 0 200px hsla(0,0%,100%,.5);
     -moz-box-shadow: 0 0 10px hsla(0,0%,0%,.05),
                      0 0 200px hsla(0,0%,100%,.5);
          box-shadow: 0 0 10px hsla(0,0%,0%,.05),
                      0 0 200px hsla(0,0%,100%,.5);
text-align:left;
border-collapse:separate;
/* border:solid black 1px; */
border-radius:6px;
-moz-border-radius:6px;
}

thead{
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0,0%,0%,0)), to(hsla(0,0%,0%,.1)));
  background-image: -webkit-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
  background-image:    -moz-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
  background-image:     -ms-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
  background-image:      -o-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
  /* border: 1px solid #ccc; */
  /* border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-shadow: 0 1px 1px hsla(0,0%,100%,.75); */
}

thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

.quitBtn{
  float: right;
  
}

td {
  /* border: 0.02px solid #ccc; */
  color: #777;
  padding: 3px;
}

tr:nth-child(2n) {  
  background: #eee;  
}

thead td {
  border: none;
  color: #444;
}











.column {
  /* width: 75%; */
  padding: 10px;
  float:right;
}

.right{
  width:75%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
